@import '../../../common/styles/breackpoints'; 
@import '../../../common/styles/colors'; 
$paddingSize: 15px;



.container {
  display: flex;
  justify-content: space-between;
  padding: $paddingSize;
  background-color: $colorMain;
  @media screen and (max-width: $sm) {
    width: 100%;
    flex-direction: column;
  }
}
